<!doctype html>
<html class="no-js" lang="pt-br">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <!-- init script and css -->
    <!-- $Include templates/lib/html/scripthead.html -->
    <!--init script and css end-->
    <title>Serviço</title>

    <style type="text/css">
        .separator {
            margin-top: 0;
            margin-bottom: 0;
        }

        select option:disabled {
            color: #000;
            font-weight: bold;
        }

    </style>

</head>
<body>
<!--top bar begin -->
<!-- $Include templates/lib/html/header.html -->
<!--top bar end-->

<!-- body section-->

<!-- title -->
<div class="row full-width">
    <div class="medium-12 columns ">
        <h3>CADASTRO DE SERVIÇOS</h3>
    </div>
</div>

<!-- botões -->
<div class="row full-width">
    <div class="medium-12 columns">
        <button class="button success small cadastrar"><i class="fa fa-plus fa-lg"></i> Novo Serviço</button>
    </div>
</div>

<!-- container main -->
<div class="row full-width">
    <div class="medium-12 columns">
        <!-- tabela -->
        <table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
            <thead>
            <tr>
                <th>COD</th>
                <th>NOME</th>
                <th>PALAVRA-CHAVE</th>
                <th>PREÇO</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- $BeginBlock row -->
            <tr>
                <td>${servico.id}</td>
                <td>${servico.nome_servico}</td>
                <td>${servico.palavra_chave}</td>
                <td>${servico.preco}</td>
                <td>
                    <button class="alterar fix" value="${servico.id}"><i class="fa fa-pencil-square-o"></i></button>
                    <button class="fix del" value="${servico.id}"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <!-- $EndBlock row -->
            </tbody>

            <tfoot>
            <tr>
                <th>COD</th>
                <th>NOME</th>
                <th>PALAVRA-CHAVE</th>
                <th>PREÇO</th>
                <th></th>
            </tr>
            </tfoot>

            <tbody>

            </tbody>
        </table>
        <!-- fim tabela -->
    </div>
</div>
<!-- end body section-->


<!-- modal sections -->

<!-- nova categoria -->
<div id="novo_servico" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
     role="dialog">
    <h2 id="modalTitle">Novo Serviço</h2>

    <p class="lead">Insira os dados abaixo</p>
    <!-- formulário -->
    <form id="form_servico" data-abide="ajax">

        <div class="row">
            <div class="medium-6 columns">
                <label>Nome do serviço
                    <small style="color:red">Obrigatório:</small>
                    <input type="text" name="nomeServico" required/>
                </label>
                <small class="error">Preencha este campo</small>
            </div>

            <div class="medium-6 columns">
                <label>Preço
                    <input type="number" name="preco"/>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <label>Palavra-Chave
                    <input type="text" name="palavraChave"/>
                </label>
            </div>
        </div>

        <!-- botões -->
        <div class="row">
            <div class="medium-12 columns">
                <div class="panel clearfix">
                    <button type="submit" class="button small secondary right">Salvar</button>
                </div>
            </div>
        </div>

    </form>
    <!-- fim formulário -->
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!--fim body-->
<!--footertag begin -->
<!-- $Include templates/lib/html/footertag.html -->
<!--footertag end-->
<!--top dash -->
<!-- $Include templates/lib/html/closeDash.html -->
<!--top dash-->

<!-- end modal sections -->

<!--footer begin -->
<!-- $Include templates/lib/html/footer.html -->
<!--footer end-->

<script>
    $(document).foundation();
    $(document).ready(function () {

        $(document).Conf();
        $(document).Crud('servicos', '#novo_servico', function (data) {
            alertify.log(data);
        });
    });
</script>
</body>
</html>
