<!doctype html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Novo Contato</title>
    <link rel="stylesheet" href="templates/lib/css/foundation.css"/>
    <link rel="stylesheet" href="templates/lib/css/font-awesome/css/font-awesome.min.css"/>
    <script src="templates/lib/js/vendor/modernizr.js"></script>
    <style type="text/css">
        .separator {
            margin-top: 0;
            margin-bottom: 0;
        }

    </style>

</head>
<body>
    <!--top bar bagin -->
    <!-- $Include templates/lib/html/header.html -->
    <!--top bar end-->

    <!-- body section-->
    <!-- title -->
    <div class="row full-width">
        <div id="calendar" class="medium-12 columns">
            
        </div>
      
    </div>


    <!-- end modal sections -->

     <!--footer bagin -->
    <!-- $Include templates/lib/html/footer.html -->
    <!--footer end-->


    <script src="templates/lib/calendar/fullcalendar.min.js"></script>
    <link rel="stylesheet" href="templates/lib/calendar/fullcalendar.min.css"/>
    <link rel="stylesheet" href="templates/lib/calendar/fullcalendar.print.css"/>

    <script>
        $(document).foundation();
        $(document).ready(function(){
            $('#calendar').fullCalendar({
                defaultView: 'timelineMonth',
                events: [],
                resources: []});
        }); 

    </script>

</body>
<!--footer bagin -->
<!-- $Include templates/lib/html/footertag.html -->
<!--footer end-->
</html>
