<!doctype html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Novo Contato</title>
    <link rel="stylesheet" href="templates/lib/css/foundation.css"/>
    <link rel="stylesheet" href="templates/lib/css/font-awesome/css/font-awesome.min.css"/>
    <script src="templates/lib/js/vendor/modernizr.js"></script>

    <style type="text/css">
        .separator {
            margin-top: 0;
            margin-bottom: 0;
        }

    </style>

</head>
<body>
<!--top bar bagin -->
<!-- $Include templates/lib/html/header.html -->
<!--top bar end-->

<!-- body section-->
<!-- title -->
<div class="row full-width">
    <div class="medium-12 columns panel">
        <h3>Log de desenvolvimento</h3>
    </div>
</div>

<div class="row full-width">

    <div class="medium-6 columns">
        <!-- header -->
        <div class="row">
            <div class="medium-12 columns ">
                <h5 class="text-center">Funcionamento Parcial</h5>
            </div>

            <!--log -->
            <div class="row">
                <div class="medium-12 columns">
                    <div data-alert class="alert-box success radius">
                        Cadastro de um novo CONTATO.
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>

            <!--log -->
            <div class="row">
                <div class="medium-12 columns">
                    <div data-alert class="alert-box success radius">
                        Cadastro de uma nova CATEGORIA.
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>

            <!--log -->
            <div class="row">
                <div class="medium-12 columns">
                    <div data-alert class="alert-box success radius">
                        Cadastro de um novo PRODUTO
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>

            <!--log -->
            <div class="row">
                <div class="medium-12 columns">
                    <div data-alert class="alert-box success radius">
                        Cadastro de um novo SERVIÇO
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>

            <!--log -->
            <div class="row">
                <div class="medium-12 columns">
                    <div data-alert class="alert-box success radius">
                        Cadastro de um novo USUÁRIO
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>

            <!--log -->
            <div class="row">
                <div class="medium-12 columns">
                    <div data-alert class="alert-box radius">
                        Arquitetura inicial do software foi estabelecida.
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="medium-6 columns">
        <!-- header -->
        <div class="row">
            <div class="medium-12 columns ">
                <h5 class="text-center">Ainda não foi feito
                    <small>(nas funções já parcialmente desenvolvidas)</small>
                </h5>
            </div>
        </div>

        <!--log -->
        <div class="row">
            <div class="medium-12 columns">
                <div data-alert class="alert-box warning radius">
                    Dos três cadastros mencionaos na aba de <i>Funcionamento Parcial</i> as funções de <i>Etiquetas</i>
                    e <i>Remover</i> ainda não foram implementadas.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>

        <!--log -->
        <div class="row">
            <div class="medium-12 columns">
                <div data-alert class="alert-box warning radius">
                    O design das tabelas não estão em sua forma final. Algumas tabelas nas seções especificas não estão
                    corretamente formatadas.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>

        <!--log -->
        <div class="row">
            <div class="medium-12 columns">
                <div data-alert class="alert-box warning radius">
                    As validações só estão ocorrendo na camada de visão. As validações acerca da integridade dos dados
                    também será feita no servidor.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>

        <!--log -->
        <div class="row">
            <div class="medium-12 columns">
                <div data-alert class="alert-box warning radius">
                    Os valores monetários não estão devidamente formatados. Os valores de porcentagens também não estão
                    formatados.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>

        <!--log -->
        <div class="row">
            <div class="medium-12 columns">
                <div data-alert class="alert-box alert radius">
                    Todos os cadastros feitos estão sendo vinculados numa empresa ficcional criada no banco de dados. Os
                    cadastros serão feitos na empresa específica do usuário quando houver o sistema de
                    diferenciação/cadastro de usuários e empresas no sistema.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>

    </div>

</div>


<!-- end modal sections -->

<script src="templates/lib/js/vendor/jquery.js"></script>
<script src="templates/lib/notify/lib/alertify.min.js"></script>
<script src="templates/lib/js/foundation.min.js"></script>

<script src="templates/lib/js/ajax.js" type="text/javascript"></script>
<link rel="stylesheet" href="templates/lib/notify/themes/alertify.default.css"/>
<link rel="stylesheet" href="templates/lib/notify/themes/alertify.core.css"/>
<link rel="stylesheet" href="templates/lib/css/foundation.css"/>

<script>
    $(document).foundation();

</script>

</body>
<!--footer bagin -->
<!-- $Include templates/lib/html/footertag.html -->
<!--footer end-->
</html>
