	  <!doctype html>
	  <html class="no-js" lang="en">
	  <head>
	  	<meta charset="utf-8" />
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  	<title>Tela Principal</title>
	  	<link rel="stylesheet" href="css/foundation.css" />
	  	<script src="js/vendor/modernizr.js"></script>

	  	<style type="text/css">
	  		.separator{
	  			margin-top: 0; 
	  			margin-bottom: 0; 
	  		}

	  		input.fix{
	  			margin:0;
	  			padding:0;
	  		}

	  		select.fix{
	  				margin:0;
	  			    padding:0;
	  		}

	  		td.fix{	
	  			padding-top:2px !important;
	  			padding-bottom:2px !important; 
	  		}
	  	</style>

	  </head>
	  <body>
	  <!--top bar bagin -->
	  <!-- $Include templates/lib/html/header.html -->
	  <!--top bar end-->

	  	<!-- body section-->

	  	<!-- title -->
	  	<div class="row">
	  		<div class="medium-12 columns panel">
	  			<h3>CADASTRO DE CLIENTES</h3>
	  		</div>	
	  	</div>

	  	<!-- botões --> 
	  	<div class="row">
	  		<div class="medium-12 columns">
	  			<button class="button success small" data-reveal-id="novo_contato">Novo Contato</button>
	  			<button class="button alert small">Remover Contato</button>
	  			<button class="button secondary small">Etiquetas</button>
	  		</div>
	  	</div>

	  	<!-- container main --> 
	  	<div class="row">
	  		<div class="medium-12 columns">
	  			<!-- formulário --> 
	  			<form id="myform" data-abide="ajax" >

	  				<div class="row">
	  					<!--coluna 1--> 
	  					<div class="medium-6 columns">
	  						<div class="row">
	  							<div class="medium-8 columns">
	  								<label>Nome do Cliente 
	  									<select required > <small style="color:red; ">Obrigatório</small>
	  										<option>- Selecione -</option>
	  									</select> <small class="error">Selecione um item</small>
	  								</label>
	  							</div>

	  							<div class="medium-4 columns">
	  								<label>Vendedor 
	  									<select required > <small style="color:red; ">Obrigatório</small>
	  										<option>- Selecione -</option>
	  									</select> <small class="error">Selecione um item</small>
	  								</label>
	  							</div>

	  						</div>

	  						<div class="row">
	  							<div class="medium-4 columns">
	  								<label>Data de venda <input type="date" /></label>
	  							</div>

	  							<div class="medium-4 columns">
	  								<label>Data entrega <input type="date" /></label>
	  							</div>

	  							<div class="medium-4 columns">
	  								<label>Referência <input type="text" /></label>
	  							</div>
	  						</div>

	  						<div class="row">
	  							<div class="medium-4 columns">
	  								<label>Valor frete <input type="number" /></label>
	  							</div>

	  							<div class="medium-4 columns">
	  								<label>Valor seguro <input type="number" /></label>
	  							</div>

	  							<div class="medium-4 columns">
	  								<label>Outras despesas <input type="number" /></label>
	  							</div>
	  						</div>

	  						<div class="row">
	  							<div class="medium-12 columns">
	  								<label>Observações gerais <textarea></textarea></label>
	  							</div>
	  						</div>

	  					</div>	

	  					<!-- coluna 2--> 
	  					<div class="medium-6 columns">

	  						<div class="row">
	  							<div class="medium-12 columns">
	  								<h3>Adicionar produtos</h3>
	  							</div>
	  						</div>

	  						<hr class="separator" />

	  						<div class="row">
	  							<div class="medium-6 columns">
	  								<label>Adicionar produto. 
	  									<select required > <small style="color:red; ">Obrigatório</small>
	  										<option>- Selecione -</option>
	  									</select> <small class="error">Selecione um item</small>
	  								</label>
	  							</div>

	  							<div class="medium-3 columns">
	  								<label>Quant.  <input type="number" /></label>
	  							</div>

	  							<div class="medium-3 columns">
	  								<label>Preço unit.<input type="number" /></label>
	  							</div>
	  						</div>	

	  						<div class="row">
	  							<div class="medium-9 columns">
	  								<label>Observações adicionais<textarea></textarea></label>
	  							</div>

	  							<div class="medium-2 columns end">
	  								<button class="button info tiny" style="margin-top:30px;margin-left:15px;"> Adicionar</button>
	  							</div>
	  						</div>

	  						<hr class="separator" />

	  						<div class="row">
	  							<div class="medium-12 columns">
	  								<!--tabela--> 
	  								<table>
	  									<caption><small>Produtos adicionados neste pedido de venda.</small></caption>
	  									<tr>
	  										<th width="350">Produto</th>
	  										<th >Quantidade</th>
	  										<th width="350">Price</th>
	  										<th width="50"></th>
	  									</tr>
	  									
	  									<tr>
	  										<td>Drone</td>
	  										<td>3</td>
	  										<td>$9.99</td>
	  										<td> <i class="fa fa-trash"></i></td>
	  									</tr>
	  								</table>
	  								<!--fim tabela--> 
	  							</div>
	  						</div>

	  					</div>

	  					<!-- botões -->
	  					<div class="row">
	  						<div class="medium-12 columns">		
	  							<div class="panel clearfix" style="height:75px;">
	  								<button class="button success tiny right"  >Vender</button>	
	  								<button class="button info tiny left"  >Apenas Orçar</button>	
	  							</div>	
	  						</div>
	  					</div>	

	  				</div>


	  			</form>
	  			<!-- fim formulário --> 
	  		</div>	
	  	</div>	

	  	<!-- container main --> 
	  	<div class="row">
	  		<div class="medium-12 columns">
	  			<!-- formulário --> 
	  			<form id="myform" data-abide="ajax" >

	  				<div class="row">
	  					<!--coluna 1--> 
	  					<div class="medium-12 columns">
	  						<div class="row">
	  							<div class="medium-3 columns">
	  								<label> Forma de pegamento
	  									<select>
	  										<option>- Selecione -</option>
	  									</select>
	  								</label>
	  							</div>

	  							<div class="medium-3 columns">
	  								<label>Parcelas 
	  									<select>
	  										<option>- Selecione -</option>
	  									</select>
	  								</label>
	  							</div>

	  							<div class="medium-3 columns">
	  								<label>Tipo entrada 
	  									<select>
	  										<option>- Selecione -</option>
	  									</select>
	  								</label>
	  							</div>

	  							<div class="medium-3 columns">
	  								<label>Valor entrada 
	  									<select>
	  										<option>- Selecione -</option>
	  									</select>
	  								</label>
	  							</div>

	  						</div>	

	  						<div class="row">
	  							<div class="medium-3 columns">
	  								<label>Tipo de desconto 
	  									<select>
	  										<option>- Selecione -</option>
	  									</select>
	  								</label>
	  							</div>

	  							<div class="medium-3 columns end">
	  								<label>Valor entrada 
	  									<select>
	  										<option>- Selecione -</option>
	  									</select>
	  								</label>
	  							</div>
	  						</div>

	  						<div class="row">
	  							<div class="medium-2 columns">
	  								<input id="checkbox1" type="checkbox"><label for="checkbox1">Juros</label>
	  							</div>	
	  						</div>

	  						<div class="row"> 
	  							<div class="medium-2 columns">
	  								<input id="checkbox2" type="checkbox"><label for="checkbox2">Taxa Fixa</label>
	  							</div>
	  						</div>

	  						<hr class="separator" /> 

	  						<!-- table --> 

	  						<div class="row">
	  							<div class="medium-12 columns">

	  								<table>
	  									<thead>
	  										<tr>
	  											<th width="200">Valor Entrada</th>
	  											<th width="50">Data Entrada</th>
	  											<th width="150">Destino</th>
	  											<th width="150">Documento</th>
	  											<th width="200">Número do doc.</th>
	  											<th width="500">Palavra-chave</th>
	  											<th width="150">Custo Int.</th>
	  											
	  										</tr>
	  									</thead>
	  									<tbody>
	  										
	  										<tr>
	  											<td class="fix" ><input  class="fix" type="number" /> </td>
	  											<td class="fix" ><input  class="fix" type="date" /></td>
	  											<td class="fix" ><select class="fix" ><option>-valor-</option></select></td>
	  											<td class="fix" ><select class="fix" ><option>-valor-</option></select></td>
	  											<td class="fix" ><input  class="fix" type="text" /></td>
	  											<td class="fix" ><input  class="fix" type="text" /></td>
	  											<td class="fix" ><input  class="fix"type="text" /></td>
	  										</tr>
	  										
	  									</tbody>
	  								</table>

	  							</div>
	  						</div>	

	  					</div>	
	  					
	  				</form>
	  				<!-- fim formulário --> 
	  			</div>	
	  		</div>	

	  		<script src="js/vendor/jquery.js"></script>
	  		<script src="js/foundation.min.js"></script>
	  		<script>
	  			$(document).foundation();
	  			$('#myform').on('valid.fndtn.abide', function(){

	  			}); 

	  		</script>
	  	</body>
	  	</html>
