<!doctype html>
<html class="no-js" lang="pt">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Tela Principal</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.8/datatables.min.css"/>
	<link rel="stylesheet" type="text/css" href="templates/lib/css/dhtmlxcalendar.css"/>
	<!-- <link rel="stylesheet" href="css/tabela.css" /> -->
	<link rel="stylesheet" href="templates/lib/css/foundation.css" />
	<link rel="stylesheet" href="templates/lib/css/font-awesome/css/font-awesome.min.css" />
	<script src="templates/lib/js/vendor/modernizr.js"></script>
	<style type="text/css">
		.separator{
			margin-top: 0;
			margin-bottom: 0;
		}

		input.fix{
			margin:0;
			padding:0;
		}

		select.fix{
			margin:0;
			padding:0;
		}

		td.fix{
			padding-top:2px !important;
			padding-bottom:2px !important;
		}
	</style>

</head>
<body>
	<!--top bar bagin -->
	<!-- $Include templates/lib/html/header.html -->
	<!--top bar end-->

	<!-- body section-->
	<!-- title -->
	<div class="row">
		<div class="medium-12 columns panel">
			<h3>GESTÃO DE TAREFAS</h3>
		</div>
	</div>
	<!-- alerta -->

	<!-- botões -->
	<div class="row">
		<div class="medium-12 columns">
			<button class="button success small" data-reveal-id="nova_tarefa">NOVA TAREFA</button>
		</div>
	</div>

	<!-- container main -->
	<div class="row">
		<div class="medium-12 columns">
			<!-- formulário -->
			<form id="myform" data-abide="ajax" >
				<div class="row">
					<table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
						<thead>
							<tr>
								<th>COD</th>
								<th>DATA</th>
								<th>RESPONSÁVEL</th>
								<th>PRIORIDADE</th>
								<th>DESCRIÇÃO</th>
								<th>SITUAÇÃO</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>123</td>
								<td>28/07/2015</td>
								<td>Erick</td>
								<td>Alta</td>
								<td>Leite leite</td>
								<td>Criada</td>
								<td><a href="#" style="font-size: 16px; margin-right: 8px;"><i class="fa fa-pencil-square-o"></i></a><a href="#" style="font-size: 16px;"><i class="fa fa-trash"></i></a></td>
								<td>
									<div style="font-size: 16px;">
										<select style="width: 136px; height: 23px;">
											<option value="1">Criada</option>
											<option value="2">Em execução</option>
											<option value="3">Finalizada</option>
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<td>321</td>
								<td>28/07/2015</td>
								<td>loco</td>
								<td>Alta</td>
								<td>Leite leite</td>
								<td>Criada</td>
								<td><a href="#" style="font-size: 16px; margin-right: 8px;"><i class="fa fa-pencil-square-o"></i></a><a href="#" style="font-size: 16px;"><i class="fa fa-trash"></i></a></td>
								<td>
									<div style="font-size: 16px;">
										<select style="width: 136px; height: 23px;">
											<option value="1">Criada</option>
											<option value="2">Em execução</option>
											<option value="3">Finalizada</option>
										</select>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>COD</th>
								<th>DATA</th>
								<th>RESPONSÁVEL</th>
								<th>PRIORIDADE</th>
								<th>DESCRIÇÃO</th>
								<th>SITUAÇÃO</th>
								<th></th>
								<th></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</form>
			<!-- fim formulário -->
		</div>
	</div>
	<!--modal-->
	<div id="nova_tarefa" class="reveal-modal xlarge" data-reveal aria-labelledby="tarefa" aria-hidden="true" role="dialog">
		<form id="form-tarefa" data-abide="ajax">
			<h2 id="tarefa">Gestão de tarefas.</h2>
			<p class="lead">Insira os dados abaixo</p>
			<div class="row">
				<div class="medium-6 columns">
					<label>Título <input type="text" name="titulo" required></label>
					<small class="error">Insira um título!</small>
				</div>
			</div>
			<div class="row">
				<div class="medium-12 columns">
					<label>Descrição da tarefa <textarea name="descricao"></textarea></label>
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Respons./destinat.<select name="usuario">
						<!-- $BeginBlock dest -->
						<option value="${id}">${user}</option>
						<!-- $EndBlock dest -->
					</select>
				</label>
			</div>
			<div class="medium-2 columns">
				<label>Data<input type="date" id="calendar" name="data" ></label>
			</div>
			<div class="medium-2 columns">
				<label>Prioridade
					<select name="prioridade">
						<option value="1">Baixa</option>
						<option value="2">Normal</option>
						<option value="3">Alta</option>
					</select>
				</label>
			</div>
			<div class="medium-2 columns">
				<label>Situação
					<select name="situacao">
						<option value="1">Criada</option>
						<option value="2">Em execução</option>
						<option value="3">Finalizada</option>
					</select>
				</label>
			</div>
			<div class="medium-3 columns">
				<label>Palavra-chave <input type="text" name="p_chave" required></label>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<input type="checkbox" name="alerta" id="alerta"><label for="alerta"> Ativar alerta</label>
			</div>
		</div>

		<!-- botões -->
		<div class="row">
			<div class="medium-12 columns">
				<div class="panel clearfix" style="height:75px;">
					<button class="button success tiny right" >Salvar</button>
				</div>
			</div>
		</div>
	</form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!--footer begin -->
<!-- $Include templates/lib/html/footer.html -->
<!--footer end-->

<script>
	$( document ).ready(function() {
		$(document).foundation();
		var myCalendar = new dhtmlXCalendarObject(["calendar"]);
		myCalendar.loadUserLanguage("pt");
	});
	$('#tarefa').on('valid.fndtn.abide', function(){
		var data=serializeArray();
		sendAjax('index.php')
	});
</script>
</body>
<!--footer bagin -->  
<!-- $Include templates/lib/html/footertag.html --> 
<!--footer end--> 
</html>