<!doctype html>
<html class="no-js" lang="pt">
<head>
	<!-- init script and css -->
	<!-- $Include templates/lib/html/scripthead.html -->
	<!--init script and css end-->
	<title>Tela Principal</title>
	<style type="text/css">
		.separator{
			margin-top: 0;
			margin-bottom: 0;
		}

		input.fix{
			margin:0;
			padding:0;
		}

		select.fix{
			margin:0;
			padding:0;
		}

		td.fix{
			padding-top:2px !important;
			padding-bottom:2px !important;
		}
	</style>

</head>
<body>
	<!--top bar bagin -->
	<!-- $Include templates/lib/html/header.html -->
	<!--top bar end-->

	<!-- body section-->
	<!-- title -->
	<div class="row full-width">
		<div class="medium-12 columns panel">
			<h3>GESTÃO DE TAREFAS</h3>
		</div>
	</div>
	<!-- alerta -->

	<!-- botões -->
	<div class="row full-width">
		<div class="medium-12 columns">
			<button class="button success small cadastrar" >NOVA TAREFA</button>
		</div>
	</div>

	<!-- container main -->
	<div class="row full-width">
		<div class="medium-12 columns">
			<!-- formulário -->
			<form id="myform" data-abide="ajax" >
				<div class="row">
					<table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
						<thead>
							<tr>
								<th>COD</th>
								<th>DATA</th>
								<th>RESPONSÁVEL</th>
								<th>PRIORIDADE</th>
								<th>DESCRIÇÃO</th>
								<th>SITUAÇÃO</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
                        <!-- $BeginBlock tarefas -->
							<tr>
								<td>${id}</td>
								<td>${date}</td>
								<td>${user}</td>
								<td>${prioridade}</td>
								<td><span data-tooltip aria-haspopup="true" class="has-tips" data-options="show_on:large" title="${descricao}">${abreviacao}</span></td>
								<td>${situacao}</td>
								<td><button class="alterar fix" value="${id}" ><i class="fa fa-pencil-square-o"></i></button><button class="fix del" value="${id}" ><i class="fa fa-trash"></i></button></td>

							</tr>
                        <!-- $EndBlock tarefas -->
						</tbody>
						<tfoot>
							<tr>
								<th>COD</th>
								<th>DATA</th>
								<th>RESPONSÁVEL</th>
								<th>PRIORIDADE</th>
								<th>DESCRIÇÃO</th>
								<th>SITUAÇÃO</th>
								<th></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</form>
			<!-- fim formulário -->
		</div>
	</div>
	<!--modal-->
	<div id="nova_tarefa" class="reveal-modal xlarge" data-reveal aria-labelledby="tarefa" aria-hidden="true" role="dialog">
		<form id="form-tarefa" data-abide="ajax">
			<h2 id="tarefa">Gestão de tarefas.</h2>
			<p class="lead">Insira os dados abaixo</p>
			<div class="row">
				<div class="medium-6 columns">
					<label>Título <input type="text" name="titulo" required value="${titulo}"></label>
					<small class="error">Insira um título!</small>
				</div>
			</div>
			<div class="row">
				<div class="medium-12 columns">
					<label>Descrição da tarefa <textarea name="descricao" values="${descricao}"></textarea></label>
				</div>
			</div>
			<div class="row">
				<div class="medium-3 columns">
					<label>Respons./destinat.<select name="usuarioId">
						<!-- $BeginBlock dest -->
						<option value="${id}">${user}</option>
						<!-- $EndBlock dest -->
					</select>
				</label>
			</div>
			<div class="medium-2 columns">
				<label>Data<input id="calendar" type="text" name="data" value="${data}"></label>
			</div>
			<div class="medium-2 columns">
				<label>Prioridade
					<select name="prioridadeId">
						<option value="1">Baixa</option>
						<option value="2" selected>Normal</option>
						<option value="3">Alta</option>
					</select>
				</label>
			</div>
			<div class="medium-2 columns">
				<label>Situação
					<select name="situacaoId">
						<option value="1">Criada</option>
						<option value="2">Em execução</option>
						<option value="3">Finalizada</option>
					</select>
				</label>
			</div>
			<div class="medium-3 columns">
				<label>Palavra-chave <input type="text" name="pChave"></label>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<input type="checkbox" name="tarefaAtiva" id="tarefaAtiva"><label for="tarefaAtiva"> Ativar alerta</label>
			</div>
		</div>

		<!-- botões -->
		<div class="row">
			<div class="medium-12 columns">
				<div class="panel clearfix" style="height:75px;">
					<button class="button success tiny right" type="submit">Salvar</button>
				</div>
			</div>
		</div>
	</form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!--footer begin -->
<!-- $Include templates/lib/html/footer.html -->
<!--footer end-->

<script>
	$(document).foundation();

	$(document).ready(function(){
		var myCalendar = new dhtmlXCalendarObject(["calendar"]);
		myCalendar.loadUserLanguage("pt");
		$(document).Conf();
		$(document).Crud('tarefas','#nova_tarefa',function(data){
			alertify.log(data);
		});
	});
</script>
</body>
<!--footer bagin -->  
<!-- $Include templates/lib/html/footertag.html --> 
<!--footer end--> 
</html>