	  <!doctype html>
	  <html class="no-js" lang="pt-br">
	  <head>
	  	<meta charset="utf-8" />
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  	<title>Novo Contato</title>
	  	<link rel="stylesheet" href="templates/lib/css/foundation.css" />
	  	<link rel="stylesheet" href="templates/lib/css/font-awesome/css/font-awesome.min.css" />
	  	<script src="templates/lib/js/vendor/modernizr.js"></script>

	  	<style type="text/css">
	  		.separator{
	  			margin-top: 0; 
	  			margin-bottom: 0; 
	  		}

	  	</style>

	  </head>
	  <body>
	  	<!--top bar bagin -->  
	  	<!-- $Include templates/lib/html/header.html --> 
	  	<!--top bar end--> 

	  	<!-- body section-->

	  	<!-- title -->
	  	<div class="row">
	  		<div class="medium-12 columns ">
	  			<h3>CADASTRO DE NOVAS CATEGORIAS DE PRODUTOS</h3>
	  		</div>	
	  	</div>

	  	<!-- botões --> 
	  	<div class="row">
	  		<div class="medium-12 columns">
	  			<button class="button success small" data-reveal-id="nova_categoria"> <i class="fa fa-plus fa-lg"></i> Nova Categoria</button>
	  			<button class="button alert small" id="teste"><i class="fa fa-times fa-lg"></i> Remover Categoria</button>
	  			<button class="button secondary small"><i class="fa fa-tags fa-lg" style="margin-right:4px"></i>Etiquetas</button>
	  		</div>
	  	</div>

	  	<!-- container main --> 
	  	<div class="row">
	  		<div class="medium-12 columns">

	  			<!-- tabela --> 
	  			<table >
	  				<thead>
	  					<tr>
	  						<th width="30;"></th>
	  						<th width="30">COD</th>
	  						<th width="150">NOME</th>
	  						<th width="600">MARGEM DE LUCRO (%)</th>
	  					</tr>
	  				</thead>
	  				<tbody>

	  					<!-- $BeginBlock row --> 
	  					<tr>
	  						<td><input type="checkbox" name="none" value="${catogoria.id}"></td>
	  						<td style="font-size: 12px;">${catogoria.id}</td>
	  						<td style="font-size: 12px;">${categoria.nome_categoria}</td>
	  						<td style="font-size: 12px;">${categoria.margem_lucro}</td>
	  					</tr>
	  					<!-- $EndBlock row --> 

	  				</tbody>
	  			</table>
	  			<!-- fim tabela --> 
	  		</div>	
	  	</div>	
	  	<!-- end body section--> 


	  	<!-- modal sections --> 

	  	<!-- nova categoria --> 
	  	<div id="nova_categoria" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  		<h2 id="modalTitle">Nova Categoria</h2>
	  		<p class="lead">Insira os dados abaixo</p>
	  		<!-- formulário --> 
	  		<form id="form_categoria" data-abide="ajax" >

	  			<div class="row">
	  				<div class="medium-12 columns">
	  					<label>Nome da categoria <small style="color:red">Obrigatório:</small>
	  						<input type="text"  name="nome_categoria" required />
	  					</label> <small class="error" >Preencha este campo</small>
	  				</div>
	  			</div>

	  			<div class="row">
	  				<div class="medium-12 columns">
	  					<label>Margem de lucro (%) <small style="color:red">Obrigatório</small>
	  						<input type="number" name="margem_lucro" required />
	  					</label> <small class="error" >Preencha este campo</small>
	  				</div>
	  			</div>

	  			<!-- botões -->
	  			<div class="row">
	  				<div class="medium-12 columns">		
	  					<div class="panel clearfix">
	  						<button type="submit" class="button small secondary right">Salvar</button>	
	  					</div>										
	  				</div>
	  			</div>	

	  		</form>
	  		<!-- fim formulário --> 
	  		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	  	</div>


	  	<!-- end modal sections --> 

	  	<script src="templates/lib/js/vendor/jquery.js"></script>
	  	<script src="templates/lib/notify/lib/alertify.min.js"></script>
	  	<script src="templates/lib/js/foundation.min.js"></script>

	  	<script src="templates/lib/js/ajax.js"type="text/javascript"></script>
	  	<link rel="stylesheet" href="templates/lib/notify/themes/alertify.default.css" />
	  	<link rel="stylesheet" href="templates/lib/notify/themes/alertify.core.css" />
	  	<link rel="stylesheet" href="templates/lib/css/foundation.css" />

	  	<script>
	  		$(document).foundation();

	  		$(document).ready(function(){
	  			$('#form_categoria').on('valid.fndtn.abide', function() {
	  				var data = $('#form_categoria').serializeArray(); 

	  				sendAjax('index.php?uc=categorias&a=cadastro','POST',data,function(data){
	  					data = JSON.parse(data);

	  					if(data['status'])
	  						window.location.reload(); 
	  				}); 
	  			}); 
	  			
	  		})

	  	</script>
	  </body>
	  </html>
