<!doctype html>
<html class="no-js" lang="pt">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <!-- init script and css -->
    <!-- $Include templates/lib/html/scripthead.html -->
    <!--init script and css end-->
    <title>Tela Principal</title>
    <style type="text/css">
        .separator {
            margin-top: 0;
            margin-bottom: 0;
        }

        input.fix {
            margin: 0;
            padding: 0;
        }

        select.fix {
            margin: 0;
            padding: 0;
        }

        td.fix {
            padding-top: 2px !important;
            padding-bottom: 2px !important;
        }
    </style>
</head>
<body>
<!--top bar begin -->
<!-- $Include templates/lib/html/header.html -->
<!--top bar end-->


<!-- body section-->
<!-- title -->
<div class="row full-width">
    <div class="medium-12 columns">
        <h3>Log de acesso</h3>
    </div>
</div>
<!-- explicativo -->
<div class="row full-width">
    <div class="medium-12 columns">
        <p>Será mostrado apenas 500 registros, use os campos abaixo para uma busca mais objetiva.</p>

        <p>Você poderá escolher uma faixa de dias e horas no calendário abaixo, selecione e arraste um intervalo do
            calendário esquerdo para o calendário direito!</p>
    </div>
</div>
<!-- botao -->
<div class="row full-width">
    <form id="form" data-abide="ajax">
        <div class="medium-3 columns">
            <label>Intervalo <input name="intervalo" type="text" id="date" value="" size="60" onkeydown="limpar(this)"></label>
        </div>
        <div class="medium-1 columns end">
            <button class="button success tiny"
                    style="margin-top: 21px; border-left-width: 0px; margin-left: -9px;"><i class="fa fa-search"></i>
            </button>
        </div>
        <input type="hidden" id="check" name="check" value="1"/>
    </form>
</div>
<!-- botões -->

<!-- container main -->
<!-- container main -->
<div class="row full-width">
    <div class="medium-12 columns">
        <!-- formulário -->
        <form id="myform" data-abide="ajax">
            <table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
                <thead>
                <tr>
                    <th>Serviço</th>
                    <th>Ação</th>
                    <th>Evento</th>
                    <th>Permissão</th>
                    <th>Empresa</th>
                    <th>Usuario</th>
                </tr>
                </thead>
                <tbody>
                <!-- $BeginBlock log -->
                <tr>
                    <td>${servico}</td>
                    <td>${acao}</td>
                    <td>${ocorrencia}</td>
                    <td>${perm}</td>
                    <td>${empresa}</td>
                    <td>${usuario}</td>
                </tr>
                <!-- $EndBlock log -->
                </tbody>
                <tfoot>
                <tr>
                    <th>Serviço</th>
                    <th>Ação</th>
                    <th>Evento</th>
                    <th>Permissão</th>
                    <th>Empresa</th>
                    <th>Usuario</th>
                </tr>
                </tfoot>
            </table>
        </form>
        <!-- fim formulário -->
    </div>
</div>
<!--top bar begin -->
<!-- $Include templates/lib/html/closeDash.html -->
<!--top bar end-->
<!--footer begin -->
<!-- $Include templates/lib/html/footer.html -->
<!--footer end-->
<script src="templates/lib/js/ajax.js"></script>
<script>
    $(document).foundation();
    $(document).ready(function () {
        $("#date").on('keydown', function (e) {
            e.preventDefault();
        });
        $("#date").bind('paste', function (e) {
            e.preventDefault();
        });
        $("#form").on('valid.fndtn.abide', function () {
            var data = $(this).serializeArray();
            sendAjax('index.php?uc=eventos&a=logView', 'POST', data, function (resposta) {
                $("body").css("cursor", "default");
                var resp = JSON.parse(resposta);
                if (!resp["status"]) {
                    alertify.error("A hora ou a Data inserida excede a hora e a data corrente! " +
                            "Você não pode ver resgistros do futuro!");
                }
                if (resp["status"]) {
                    $("#check").val("");
                    var data = $("#form").serializeArray();
                    $(window.document.location).attr('href', 'index.php?uc=eventos&a=logView&' + jQuery.param(data));
                    $("#check").val("1");
                }
            });
        });
        $('#date').dateRangePicker(
                {
                    startOfWeek: 'monday',
                    separator: ' || ',
                    format: 'DD.MM.YYYY HH:mm',
                    autoClose: false,
                    time: {
                        enabled: true
                    }
                });
    });

</script>
</body>
</html>