<!doctype html>
<html class="no-js" lang="pt">
<head>
    <!-- init script and css -->
    <!-- $Include templates/lib/html/scripthead.html -->
    <!--init script and css end-->
    <title>Tela Principal</title>
    <style type="text/css">
        .separator {
            margin-top: 0;
            margin-bottom: 0;
        }

        input.fix {
            margin: 0;
            padding: 0;
        }

        select.fix {
            margin: 0;
            padding: 0;
        }

        td.fix {
            padding-top: 2px !important;
            padding-bottom: 2px !important;
        }
    </style>

</head>
<body>
<!--top bar bagin -->
<!-- $Include templates/lib/html/header.html -->
<!--top bar end-->


<!-- body section-->
<!-- title -->
<div class="row full-width">
    <div class="medium-12 columns">
        <h3>Log de acesso</h3>
    </div>
</div>
<!-- explicativo -->
<div class="row full-width">
    <div class="medium-12 columns">
        <p>Será mostrado apenas 500 registros, use os campos abaixo para uma busca mais objetiva.</p>
    </div>
</div>
<!-- botao -->
<div class="row full-width">
    <form id="form" data-abide="ajax">
    <div class="medium-2 columns">
        <label>De <input type="text" id="de" name="de" required></label>
            <small class="error">Não pode estar vazio!</small>
    </div>
    <div class="medium-2 columns">
        <label>Até <input type="text" id="para" name="para" required></label>
        <small class="error">Não pode estar vazio!</small>
    </div>
    <div class="medium-1 columns end">
        <button class="button success tiny" onchange="envio(this)" style="margin-top: 21px; border-left-width: 0px; margin-left: -9px;"><i class="fa fa-search"></i></button>
    </div>
        <input type="hidden" name="uc" value="eventos">
        <input type="hidden" name="a" value="logViewBusca">
    </form>
</div>
<!-- botões -->

<!-- container main -->
<!-- container main -->
<div class="row full-width">
    <div class="medium-12 columns">
        <!-- formulário -->
        <form id="myform" data-abide="ajax">
            <table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
                <thead>
                <tr>
                    <th>Serviço</th>
                    <th>Ação</th>
                    <th>Evento</th>
                    <th>Permissão</th>
                    <th>Empresa</th>
                    <th>Usuario</th>
                </tr>
                </thead>
                <tbody>
                <!-- $BeginBlock log -->
                <tr>
                    <td>${servico}</td>
                    <td>${acao}</td>
                    <td>${ocorrencia}</td>
                    <td>${perm}</td>
                    <td>${empresa}</td>
                    <td>${usuario}</td>
                </tr>
                <!-- $EndBlock log -->
                </tbody>
                <tfoot>
                <tr>
                    <th>Serviço</th>
                    <th>Ação</th>
                    <th>Evento</th>
                    <th>Permissão</th>
                    <th>Empresa</th>
                    <th>Usuario</th>
                </tr>
                </tfoot>
            </table>
        </form>
        <!-- fim formulário -->
    </div>
</div>
<!--footer begin -->
<!-- $Include templates/lib/html/footer.html -->
<!--footer end-->
<script src="templates/lib/js/ajax.js"></script>
<script>
    $(document).foundation();

    $(document).ready(function () {
        var myCalendar = new dhtmlXCalendarObject(["de","para"]);
        myCalendar.loadUserLanguage("pt");
        $("#form").on('valid.fndtn.abide', function () {
            var data = $(this).serializeArray();
            sendAjax('index.php?uc=eventos&a=logViewBusca','POST',data,function(data){
                try {
                    var data = jQuery.parseJSON(data);
                    if(!data.status){
                        alertify.error("você foi para o futuro?");
                    }
                }catch(e){
                    document.open();
                    document.write(data);
                    document.close();
                }
            });
            });
    });
</script>
</body>
<!--footer bagin -->
<!-- $Include templates/lib/html/footertag.html -->
<!--footer end-->
</html>