<!DOCTYPE html>
<html class="no-js" lang="pt">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <!-- init script and css -->
    <!-- $Include templates/lib/html/scripthead.html -->
    <!--init script and css end-->
    <title>Novo Contato</title>


    <style type="text/css">
        .separator {
            margin-top: 0;
            margin-bottom: 0;
        }

        select option:disabled {
            color: red;
            font-weight: bold;
        }

    </style>

</head>
<body>
<!--top bar begin -->
<!-- $Include templates/lib/html/header.html -->
<!--top bar end-->

<!-- body section-->

<!-- title -->
<div class="row full-width">
    <div class="medium-12 columns ">
        <h3>CONTAS A RECEBER</h3>
    </div>
</div>

<!-- Local para mensagens via redirect -->
<!-- <div class="row ${is_hide}">
    <div class="medium-12 columns">
        <div data-alert class="alert-box success">
            ${mensagem}
            <a href="#" class="close">&times;</a>
        </div>
    </div>
</div>	  	 -->
<!-- Local para mensagens via redirect fim-->

<!-- botões -->
<div class="row full-width">
    <div class="medium-12 columns">
        <button class="button success small cadastrar"
        <i class="fa fa-plus fa-lg"></i> Novo Receber</button>
    </div>
</div>

<!-- container main -->
<div class="row full-width">
    <div class="medium-12 columns">
        <!-- tabela -->
        <table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
            <thead>
            <tr>
                <th>COD</th>
                <th>DESCRIÇÃO</th>
                <th>CONTATO</th>
                <th>TIPO DOC</th>
                <th>NRO DOC</th>
                <th>SITUAÇÃO</th>
                <th>VENCIMENTO</th>
                <th>DATA PGTO</th>
                <th>VALOR</th>
                <th>VALOR PAGO</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- $BeginBlock row -->
            <tr>
                <td>${conta.id}</td>
                <td>${conta.descricao}</td>
                <td>${conta.contato}</td>
                <td>${conta.tipo_doc}</td>
                <td>${conta.nro_doc}</td>
                <td>${conta.situcao}</td>
                <td>${conta.vencimento}</td>
                <td>${conta.data_pagamento}</td>
                <td>${conta.valor}</td>
                <td>${conta.valor_pago}</td>
                <td>
                    <button class="alterar fix" value="${conta.id}"><i class="fa fa-pencil-square-o"></i></button>
                    <button class="fix del" value="${conta.id}"><i class="fa fa-trash"></i></button>
                </td>

            </tr>
            <!-- $EndBlock row -->
            </tbody>

            <tfoot>
            <tr>
                <th>COD</th>
                <th>DESCRIÇÃO</th>
                <th>CONTATO</th>
                <th>TIPO DOC</th>
                <th>NRO DOC</th>
                <th>SITUAÇÃO</th>
                <th>VENCIMENTO</th>
                <th>DATA PGTO</th>
                <th>VALOR</th>
                <th>VALOR PAGO</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
        <!-- fim tabela -->
    </div>
</div>
<!-- end body section-->


<!-- modal sections -->


<!-- nova venda -->
<div id="novo_recebimento" class="reveal-modal xlarge" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
     role="dialog">
    <h2 id="modalTitle">Conta a receber</h2>

    <p class="lead">Insira os dados abaixo</p>
    <!-- formulário -->
    <form id="form_conta" data-abide="ajax">
        <div class="row">
            <!-- primeira coluna -->
            <div class="medium-9 columns">
                <!-- primeira linha -->
                <div class="row">
                    <div class="medium-4 columns">
                        <label>Descrição
                            <small style="color:red;">Obrigatório</small>
                            <input type="text" name="descricao" required/>
                        </label>
                        <small class="error">Você precisa preencher este campo.</small>
                    </div>

                    <div class="medium-4 columns">
                        <label>Data do lançamento<input value="${date_now}" type="text" class="calendar1"
                                                        name="dataLancamento"/> </label>
                    </div>

                    <div class="medium-4 columns">
                        <label>Data de vencimento
                            <small style="color:red;">Obrigatório</small>
                            <input type="text" class="calendar2" name="dataVencimento" required/>
                        </label>
                        <small class="error">Você precisa preencer este campo.</small>
                    </div>
                </div>
                <!-- segunda linha -->
                <div class="row">
                    <div class="medium-4 columns">
                        <label>Valor cobrado<input type="number" name="valor"/> </label>
                    </div>

                    <div class="medium-4 columns">
                        <label>Tipo documento
                            <small style="color:red;">Obrigatório</small>
                            <select required name="tipoDocumentoId">
                                <option value="">-Selecione-</option>
                                <!-- $BeginBlock tipo_documento -->
                                <option value="${tipo_documento.id}">${tipo_documento.des}</option>
                                <!-- $EndBlock  tipo_documento -->
                            </select>
                        </label>
                        <small class="error"> Selecione uma opção</small>
                    </div>

                    <div class="medium-4 columns">
                        <label>Nru. documento <input type="number" name="numeroDocumento"/> </label>
                    </div>
                </div>
                <!-- terceira linha -->
                <div class="row">
                    <div class="medium-4 columns">
                        <label>Contato
                            <small style="color:red;">Obrigatório</small>
                            <select required name="contatoId">
                                <option value="">-Selecione</option>
                                <!-- $BeginBlock contato -->
                                <option value="${contato.id}">${contato.des}</option>
                                <!-- $EndBlock  contato -->
                            </select>
                        </label>
                        <small class="error"> Selecione uma opção</small>
                    </div>

                    <div class="medium-4 columns">
                        <label>Plano de contas
                            <small style="color:red;">Obrigatório</small>
                            <select required name="planoContaId">
                                <option value="">-Selecione-</option>
                                <!-- $BeginBlock plano_conta -->
                                <option value="${plano_conta.id}" ${disabled}>${plano_conta.des}</option>
                                <!-- $EndBlock  plano_conta -->
                            </select>
                        </label>
                        <small class="error">Selecione uma opção</small>
                    </div>

                    <div class="medium-4 columns">
                        <label>Conta de destino
                            <small style="color:red;"></small>
                            <select name="recipiente_id" required>
                                <option value="">-Selecione-</option>
                                <!-- $BeginBlock recipiente -->
                                <option value="${recipiente.id}">${recipiente.des}</option>
                                <!-- $EndBlock  recipiente -->
                            </select>
                        </label>
                        <small class="error">Selecione uma opção</small>
                    </div>
                </div>
                <!-- quarta linha -->
                <div class="row">
                    <div class="medium-4 columns">
                        <input id="checkbox1" type="checkbox" name="apenasPrevisao"><label for="checkbox1">Apenas
                        previsão
                    </label>
                    </div>

                    <div class="medium-4 columns">
                        <label>Cadastrar mais de uma vez
                            <small style="color:red;">Obrigatório</small>
                            <select required name="cadastrarVezesId">
                                <option value="">-Selecione-</option>
                                <!-- $BeginBlock cadastrar_vezes -->
                                <option value="${cadastrar_vezes.id}">${cadastrar_vezes.des}</option>
                                <!-- $EndBlock  cadastrar_vezes -->
                            </select>
                        </label>
                        <small class="error">Selecione uma opção</small>
                    </div>

                    <div class="medium-4 columns">
                        <label>Repetir o seguinte intervalo
                            <small style="color:red;">Obrigatório</small>
                            <select required name="intervaloId">
                                <option value="">-Selecione-</option>
                                <!-- $BeginBlock intervalo -->
                                <option value="${intervalo.id}">${intervalo.des}</option>
                                <!-- $EndBlock  intervalo -->
                            </select>
                        </label>
                        <small class="error">Selecione uma opção</small>
                    </div>
                </div>
                <!-- quinta linha -->
                <div class="row">
                    <div class="medium-4 columns">
                        <input id="paga" type="checkbox" name="paga"><label for="paga">Pagar agora</label>
                    </div>

                    <div class="medium-4 columns">
                        <label>Valor Pagamento<input type="number" name="valorPagamento" id="valor_pagamento"/> </label>
                    </div>

                    <div class="medium-4 columns">
                        <label>Data pagamento <input type="text" class="calendar3" value="${date_now}"
                                                     name="dataPagamento"
                                                     id="data_pagamento"/> </label>
                    </div>
                </div>
            </div>

            <!-- segunda colunha -->
            <div class="medium-3 columns">
                <!-- primeira linha -->
                <div class="row">
                    <div class="medium-12">
                        <label>Observações<textarea style="height:280px;" name="observacoes"></textarea></label>
                    </div>
                </div>

                <!-- segunda linha -->
                <div class="row">
                    <div class="medium-12">
                        <label>Palavra-chave <input type="text" name="palavraChave"/></label>
                    </div>
                </div>
            </div>

        </div>
        <!-- botões -->
        <div class="row">
            <div class="medium-12 columns">
                <div class="panel clearfix" style="height:75px;">
                    <button class="button success tiny right">Registrar</button>

                </div>
            </div>
        </div>
    </form>
    <!-- fim formulário -->
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!--top bar begin -->
<!-- $Include templates/lib/html/closeDash.html -->
<!--top bar end-->
<!--footer begin -->
<!-- $Include templates/lib/html/footer.html -->
<!--footer end-->


<script>
    $(document).foundation();

    $(document).ready(function () {
        //calendar
        var x = 1;
        while (x < 4) {
            $('.calendar' + x).dateRangePicker(
                    {
                        startOfWeek: 'monday',
                        format: 'YYYY-MM-DD',
                        autoClose: true,
                        singleDate: true,
                        showShortcuts: false
                    });
            $('.calendar' + x).on('keydown', function (e) {
                e.preventDefault();
            });
            $('.calendar' + x).bind('paste', function (e) {
                e.preventDefault();
            });
            x++;
        }
        //Trancando os campos para não edição:
        desabilitarCampos($('#paga'));

        //Manipulador para o formulário
        $(document).Conf({'cadastro': 'cadastroRecebimento', 'alterar': 'alteraRecebimento'});

        $(document).Crud('contas', '#novo_recebimento', function (data) {
            desabilitarCampos($('#paga'));
        });

        //Informando se a conta é para ser paga agora.

        $('#paga').change(function () {
            desabilitarCampos(this)
        });


        function desabilitarCampos(target) {
            if ($(target).is(':checked')) {
                $("#data_pagamento").attr("disabled", false);
                $("#valor_pagamento").attr("disabled", false);
            } else {
                $("#data_pagamento").attr("disabled", true);
                $("#valor_pagamento").attr("disabled", true);
            }
        }
    });
</script>
</body>
<!--footer bagin -->
<!-- $Include templates/lib/html/footertag.html -->
<!--footer end-->
</html>
