	  <!DOCTYPE html>
	  <html class="no-js" lang="pt">
	  <head>
	  	<meta charset="utf-8" />
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  	<title>Novo Contato</title>
	  	<link rel="stylesheet" href="templates/lib/css/foundation.css" />
	  	<link rel="stylesheet" href="templates/lib/css/font-awesome/css/font-awesome.min.css" />
	  	<script src="templates/lib/js/vendor/modernizr.js"></script>

	  	<style type="text/css">
	  		.separator{
	  			margin-top: 0; 
	  			margin-bottom: 0; 
	  		}

	  	</style>

	  </head>
	  <body>
	  	<!--top bar bagin -->  
	  	<!-- $Include templates/lib/html/header.html --> 
	  	<!--top bar end--> 

	  	<!-- body section-->

	  	<!-- title -->
	  	<div class="row">
	  		<div class="medium-12 columns ">
	  			<h3>CONTAS A PAGAR</h3>
	  		</div>	
	  	</div>

	  	<!-- botões --> 
	  	<div class="row">
	  		<div class="medium-12 columns">
	  			<button class="button success small" data-reveal-id="novo_pagamento"> <i class="fa fa-plus fa-lg"></i> Novo Pagamento</button>
	  			<button class="button secondary small"><i class="fa fa-tags fa-lg" style="margin-right:4px"></i>Etiquetas</button>
	  		</div>
	  	</div>

	  	<!-- container main --> 
	  	<div class="row">
	  		<div class="medium-12 columns">

	  			<!-- tabela --> 
	  			<table >
	  				<thead>
	  					<tr>
	  						<th width="30;"></th>
	  						<th width="30">COD</th>
	  						<th width="600">VENDA</th>
	  						<th width="600">ENTREGA</th>
	  						<th width="150">VENDEDOR</th>
	  						<th width="600">REFERÊNCIA</th>
	  						<th width="30;">SITUAÇÃO</th>
	  						<th width="30">TOTAL PRODUTO</th>
	  						<th width="150">TOTAL VENDA</th>

	  					</tr>
	  				</thead>
	  				<tbody>

	  					<!-- $BeginBlock row --> 
	  					<tr>
	  						<td><input type="checkbox" name="none" value="${catogoria.id}"></td>
	  						<td style="font-size: 12px;">${catogoria.id}</td>
	  						<td style="font-size: 12px;">${categoria.nome_categoria}</td>
	  						<td style="font-size: 12px;">${categoria.margem_lucro}</td>
	  						<td style="font-size: 12px;">${categoria.nome_categoria}</td>
	  						<td style="font-size: 12px;">${categoria.margem_lucro}</td>
	  						<td style="font-size: 12px;">${categoria.nome_categoria}</td>
	  						<td style="font-size: 12px;">${categoria.margem_lucro}</td>
	  						<td style="font-size: 12px;">${categoria.nome_categoria}</td>
	  						<td style="font-size: 12px;">${categoria.margem_lucro}</td>
	  					</tr>
	  					<!-- $EndBlock row --> 

	  				</tbody>
	  			</table>
	  			<!-- fim tabela --> 
	  		</div>	
	  	</div>	
	  	<!-- end body section--> 


	  	<!-- modal sections --> 

	  	
	  	<!-- nova venda --> 
	  	<div id="novo_pagamento" class="reveal-modal xlarge" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  		<h2 id="modalTitle">Novo Pagamento</h2>
	  		<p class="lead">Insira os dados abaixo</p>
	  		<!-- formulário --> 
	  		<form id="form_pagamento" data-abide="ajax">
	  			<div class="row">
	  				<!-- primeira coluna -->
	  				<div class="medium-9 columns">
	  					<!-- primeira linha -->
	  					<div class="row">
	  						<div class="medium-4 columns">
	  							<label>Input <small>Obrigatório</small>
	  								<input type="text" name="input" required /> 
	  							</label> <small class="error">Você precisa preencher este campo.</small>
	  						</div>

	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>

	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>
	  					</div>
	  					<!-- segunda linha -->
	  					<div class="row">
	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>

	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>

	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>
	  					</div>
	  					<!-- terceira linha -->
	  					<div class="row">
	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>

	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>

	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>
	  					</div>
	  					<!-- quarta linha -->
	  					<div class="row">
	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>

	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>

	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>
	  					</div>
	  					<!-- quinta linha -->
	  					<div class="row">
	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>

	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>

	  						<div class="medium-4 columns">
	  							<label>Input <input type="text" /> </label>
	  						</div>
	  					</div>
	  				</div>

	  				<!-- segunda colunha -->
	  				<div class="medium-3 columns">
	  					<!-- primeira linha -->
	  					<div class="row">
	  						<div class="medium-12">
	  							<label>Observações<textarea style="height:260px;"></textarea></label>
	  						</div>		
	  					</div>

	  					<!-- segunda linha -->
	  					<div class="row">
	  						<div class="medium-12">
	  							<label>Input <input type="text" /></label>
	  						</div>		
	  					</div>		
	  				</div>

	  			</div>
	  			<button type="submit">Salvar</button>
	  		</form>
	  		<!-- fim formulário --> 
	  		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	  	</div>


	  	<script src="templates/lib/js/vendor/jquery.js"></script>
	  	<script src="templates/lib/notify/lib/alertify.min.js"></script>
	  	<script src="templates/lib/js/foundation.min.js"></script>

	  	<script src="templates/lib/js/ajax.js"type="text/javascript"></script>
	  	<link rel="stylesheet" href="templates/lib/notify/themes/alertify.default.css" />
	  	<link rel="stylesheet" href="templates/lib/notify/themes/alertify.core.css" />
	  	<link rel="stylesheet" href="templates/lib/css/foundation.css" />

	  	<script>
	  		$(document).foundation();

	  		$(document).ready(function(){
	  			$('#form_pagamento').on('valid.fndtn.abide', function() {
	  				var data = $(this).serializeArray(); 

	  				sendAjax('index.php?uc=contas&a=cadastro','POST',data,function(data){
	  					alertify.log(data); 
	  				}); 

	  			}); 
	  		}); 
	  	</script>
	  </body>

	  </html>
