<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html class="no-js" lang="pt">
<head>
    <!-- init script and css -->
    <!-- $Include templates/lib/html/scripthead.html -->
    <!--init script and css end-->
    <title>Configurações</title>
    <style type="text/css">
        .separator {
            margin-top: 0;
            margin-bottom: 0;
        }

        input.fix {
            margin: 0;
            padding: 0;
        }

        select.fix {
            margin: 0;
            padding: 0;
        }

        td.fix {
            padding-top: 2px !important;
            padding-bottom: 2px !important;
        }
    </style>

</head>
<body>
<!--top bar begin -->
<!-- $Include templates/lib/html/header.html -->
<!--top bar end-->

<!--body-->
teste
<!--fim body-->

<!--dash begin -->
<!-- $Include templates/lib/html/closeDash.html -->
<!--dash end-->
<!--footer begin -->
<!-- $Include templates/lib/html/footer.html -->
<!--footer end-->
<script>
    $(document).foundation();
</script>
</body>
<!--footer begin -->
<!-- $Include templates/lib/html/footertag.html -->
<!--footer end-->
</html>