<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html class="no-js" lang="pt">
<head>
    <!-- init script and css -->
    <!-- $Include templates/lib/html/scripthead.html -->
    <!--init script and css end-->
    <title>Configurações</title>
    <style type="text/css">
        .separator {
            margin-top: 0;
            margin-bottom: 0;
        }

        input.fix {
            margin: 0;
            padding: 0;
        }

        select.fix {
            margin: 0;
            padding: 0;
        }

        td.fix {
            padding-top: 2px !important;
            padding-bottom: 2px !important;
        }
    </style>

</head>
<body>
<!--top bar begin -->
<!-- $Include templates/lib/html/header.html -->
<!--top bar end-->

<!--body-->

<!-- title -->
<div class="row full-width">
    <div class="medium-12 columns panel">
        <h3>CONFIGURAÇÕES</h3>
    </div>
</div>

<!--container-->
<div class="row full-width">
    <div class="medium-6 columns">
        <ul class="pricing-table">
            <li class="title">Dados da empresa</li>
            <li class="bullet-item">CPF/CNPJ: </li>
            <li class="bullet-item">Nome fantasia: </li>
            <li class="bullet-item">Razão social ou nome: </li>
            <li class="bullet-item">Telefone fixo: </li>
            <li class="bullet-item">Telefone celular: </li>
            <li class="bullet-item">E-mail: </li>
            <li class="cta-button"><a class="button" href="#">Editar dados</a></li>
        </ul>
    </div>
    <div class="medium-6 columns">
        <ul class="pricing-table">
            <li class="title">Configuração geral</li>
            <li class="bullet-item"><span data-tooltip aria-haspopup="true" class="has-tips" data-options="show_on:large"
                                          title=" Verifique se a hora do sistema está correta para o seu fuso horário. Caso esteja errado, ajuste o fuso horário de acordo com a sua localidade.
">Fuso horário: </span></li>
            <li class="bullet-item"><span data-tooltip aria-haspopup="true" class="has-tips" data-options="show_on:large"
                                          title=" Proíbe cadastrar mais de uma vez o mesmo CPF ou CNPJ na tela de contatos
">CPF e CNPJ unico: </span></li>
            <li class="bullet-item"><span data-tooltip aria-haspopup="true" class="has-tips" data-options="show_on:large"
                                          title="Número máximo de casas decimais a ser usado nos preços de produtos e serviços.">Casas decimais no preço: </span></li>
            <li class="cta-button"><a class="button" href="#">Editar dados</a></li>
        </ul>
    </div>
</div>
<div class="row full-width">
    <div class="medium-6 columns">
        <ul class="pricing-table">
            <li class="title">Dados fiscais da empresa</li>
            <li class="bullet-item">Principal atividade da empresa: </li>
            <li class="bullet-item">Regime tributário: </li>
            <li class="bullet-item">Alíquota do Simples: </li>
            <li class="cta-button"><a class="button" href="#">Editar dados</a></li>
        </ul>
    </div>
</div>
<!--fim body-->

<!--dash begin -->
<!-- $Include templates/lib/html/closeDash.html -->
<!--dash end-->
<!--footer begin -->
<!-- $Include templates/lib/html/footer.html -->
<!--footer end-->
<script>
    $(document).foundation();
</script>
</body>
</html>