	  <!DOCTYPE html>
	  <html class="no-js" lang="pt">
	  <head>
	  	<!-- init script and css -->  
	  	<!-- $Include templates/lib/html/scripthead.html --> 
	  	<!--init script and css end-->

	  	<title>Recibo</title>


	  	<style type="text/css">
	  		.separator{
	  			margin-top: 0; 
	  			margin-bottom: 0; 
	  		}

	  		select option:disabled {
	  			color:red;
	  			font-weight: bold;
	  		}

	  		button.fix{
	  			padding:5px !important;
	  			margin:1px !important;
	  		}

	  	</style>

	  </head>
	  <body>
	  	<!--top bar bagin -->  
	  	<!-- $Include templates/lib/html/header.html --> 
	  	<!--top bar end--> 

	  	<!-- body section-->

	  	<!-- title -->
	  	<div class="row">
	  		<div class="medium-12 columns ">
	  			<h3>RECIBOS</h3>
	  		</div>	
	  	</div>

	  	<!-- botões --> 
	  	<div class="row">
	  		<div class="medium-12 columns">
	  			<button class="button success small cadastrar" > <i class="fa fa-plus fa-lg"></i> Novo Recibo</button>
	  			<button class="button secondary small"><i class="fa fa-tags fa-lg" style="margin-right:4px"></i>Etiquetas</button>
	  		</div>
	  	</div>

	  	<!-- container main --> 
	  	<div class="row">
	  		<div class="medium-12 columns">
	  			<!-- tabela --> 
	  			<table class="dataTable striped border bordered" data-role="datatable" data-searching="true">
	  				<thead>
	  					<tr>
	  						<th>COD</th>
	  						<th>RECEBI DE</th>
	  						<th>EM</th>
	  						<th>O VALOR DE</th>
	  						<th>REFERENTE</th>
	  						<th></th>
	  						<th></th>
	  					</tr>
	  				</thead>
	  				<tbody>
	  					<!-- $BeginBlock row --> 
	  					<tr>
	  						<td>${recibo.id}</td>
	  						<td>${recibo.recebido_de}</td>
	  						<td>${recibo.data_recibo}</td>
	  						<td>${recibo.valor}</td>
	  						<td>${recibo.referente}</td>
	  						<td>
	  						<a href="index.php?uc=recibos&a=gerarRecibo&codigo=${recibo.id}" style="font-size: 16px; margin-right: 8px;" target="popup"><i class="fa fa-print"></i></a>
	  						</td>
	  						<td>
	  						<button class="alterar fix" value="${recibo.id}" ><i class="fa fa-pencil-square-o"></i></button><button class="fix del" value="${recibo.id}" ><i class="fa fa-trash"></i></button>
	  						</td>

	  					</tr>
	  					<!-- $EndBlock row --> 
	  				</tbody>

	  				<tfoot>
	  					<tr>
	  						<th>COD</th>
	  						<th>RECEBI DE</th>
	  						<th>EM</th>
	  						<th>O VALOR DE</th>
	  						<th>REFERENTE</th>
	  						<th></th>
	  						<th></th>
	  					</tr>
	  				</tfoot>
	  			</table>
	  			<!-- fim tabela --> 
	  		</div>	
	  	</div>	
	  	<!-- end body section--> 


	  	<!-- modal sections --> 

	  	
	  	<!-- nova venda --> 
	  	<div id="novo_recibo" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

	  		<h2 id="modalTitle">Novo Recibo</h2>
	  		<p class="lead">Insira os dados abaixo</p>
	  		<!-- formulário --> 

	  		<!-- identificador -->
	  		<input type="hidden" id="identificar" />
	  		

	  		<form id="form_recibo" data-abide="ajax">
	  			<input type="hidden" id="id_item" />
	  			<!-- primeira linha -->
	  			<div class="row">
	  				<div class="medium-4 columns">
	  					<label>Emissor <input type="text" name="emissor"/> </label>
	  				</div>

	  				<div class="medium-8 columns">
	  					<label>Vias a imprimir 
	  						<select name="viasId">
	  							<option value="">-Selecione-</option>
	  							<option value="1">Apenas a 1ª via - cliente</option>
	  							<option value="2">Apenas a 2ª via - emissor</option>
	  							<option value="3">1ª e 2ª vias - cliente e emissor</option>
	  						</select> 
	  					</label>
	  				</div>
	  			</div>

	  			<!-- segunda linha -->
	  			<div class="row">
	  				<div class="medium-4 columns">
	  					<label>Recebi de <input list="recebi" type="text" name="recebidoDe"></label>
	  					<datalist id="recebi">
	  						<!-- $BeginBlock contato --> 
	  						<option value="${nome}">
	  							<!-- $EndBlock  contato -->
	  						</datalist>
	  					</div>

	  					<div class="medium-4 columns">
	  						<label>CPF ou CNPJ <input type="text" name="cpfCnpj" /> </label>
	  					</div>

	  					<div class="medium-4 columns">
	  						<label>Valor pago<input type="number" name="valorPago" /> </label>
	  					</div>
	  				</div>

	  				<!-- terceira linha -->
	  				<div class="row">
	  					<div class="medium-4 columns">
	  						<label>Data recibo <input type="date" value="${data_now}" name="dataRecibo" /> </label>
	  					</div>

	  					<div class="medium-8 columns">
	  						<label>Referente a <input type="text" name="referente" /> </label>
	  					</div>
	  				</div>
	  				<!-- botões -->
	  				<div class="row">
	  					<div class="medium-12 columns">		
	  						<div class="panel clearfix">
	  							<button type="submit" class="button tiny success right">Salvar</button>	
	  						</div>										
	  					</div>
	  				</div>	
	  			</form>
	  			<!-- fim formulário --> 
	  			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	  		</div>

	  		<!--footer bagin -->  
	  		<!-- $Include templates/lib/html/footer.html --> 
	  		<!--footer end--> 


	  		<script>
	  			$(document).foundation();

	  			$(document).ready(function(){
	  		//Manipulador para o formulário
	  		$('#form_recibo').on('valid.fndtn.abide', function() {
	  			var data = $(this).serializeArray(); 
	  			sendAjax('index.php?uc=recibos&a=cadastro','POST',data,function(data){
	  				var data = JSON.parse(data); 
	  				if(data['status']){
	  					alertify.success("O recibo foi cadastrado com sucesso"); 
	  					window.location.reload(); 
	  				}else{
	  					alertify.error("Ocorreu algum error, tente novamente."); 
	  				}
	  			}); 
	  		}); 
	  		
	  		// //true = cadastro, false = alterar
	  		// $('.cadastro').click(function(){
	  		// 	// <input type="hidden" id="identificar" />
	  		// 	$('#identificador').val(true); 
	  		// 	$('#novo_recibo').foundation('reveal', 'open');
	  		// }); 

	  		// $('.alterar').click(function(){
	  		// 	// <input type="hidden" id="identificar" />
	  		// 	// <input type="hidden" id="id_item" />
	  		// 	var idItem = $(this).val(); 
	  		// 	$('#identificador').val(false); 
	  		// 	$('#id_item').val(idItem); 
	  			
	  		// 	//restaurarForm(idItem); 
	  		// 	$('#form_recibo').reestabelecerForm('recibos');
	  		// 	$('#novo_recibo').foundation('reveal', 'open');
	  		// }); 

	  		$(document).initCrud('recibos','#novo_recibo','.alterar','.cadastrar'); 

	  		//Código para a deleção; 
	  		//Código para a deleção: 
	  		$('.del').deletar('recibos');  
	  		//$('#form_recibo').reestabelecerForm('recibos'); 

	}); 
	</script>
</body>
<!--footer bagin -->  
<!-- $Include templates/lib/html/footertag.html --> 
<!--footer end--> 
</html>
