<!doctype html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Novo Contato</title>
    <link rel="stylesheet" href="templates/lib/css/foundation.css"/>
    <link rel="stylesheet" href="templates/lib/css/font-awesome/css/font-awesome.min.css"/>
    <script src="templates/lib/js/vendor/modernizr.js"></script>

    <style type="text/css">
        .separator {
            margin-top: 0;
            margin-bottom: 0;
        }

    </style>

</head>
<body>
<!--top bar begin -->
<!-- $Include templates/lib/html/header.html -->
<!--top bar end-->

<!-- body section-->

<!-- title -->
<div class="row">
    <div class="medium-12 columns ">
        <h3>ORDENS DE SERVIÇO</h3>
    </div>
</div>

<!-- botões -->
<div class="row">
    <div class="medium-12 columns">
        <button class="button success small" data-reveal-id="novo_produto"><i class="fa fa-plus fa-lg"></i> Novo OS
        </button>
        <button class="button alert small" id="teste"><i class="fa fa-times fa-lg"></i>Cancelar Produto</button>
    </div>
</div>

<!-- container main -->
<div class="row">
    <div class="medium-12 columns">

        <!-- tabela -->
        <table>
            <thead>
            <tr>
                <th width="30;"></th>
                <th width="30">COD</th>
                <th width="30">PRODUTO</th>
                <th width="30">CATEGORIA</th>
                <th width="70">PREÇO VENDA</th>
                <th width="30">ESTOQUE</th>
                <th width="30">RESERVA</th>
                <th width="30">OC</th>
                <th width="30">OP</th>
                <th width="30">SALDO</th>
            </tr>
            </thead>
            <tbody>

            <!-- $BeginBlock row -->
            <tr>
                <td><input type="checkbox" name="none" value="${produto.id}"></td>
                <td style="font-size: 12px;">${produto.id}</td>
                <td style="font-size: 12px;">${produto.nome}</td>
                <td style="font-size: 12px;">${produto.categoria}</td>
                <td style="font-size: 12px;">${produto.preco_venda}</td>
                <td style="font-size: 12px;">${produto.estoque}</td>
                <td style="font-size: 12px;">${produto.reserva}</td>
                <td style="font-size: 12px;">${produto.oc}</td>
                <td style="font-size: 12px;">${produto.op}</td>
                <td style="font-size: 12px;">${produto.saldo}</td>
            </tr>
            <!-- $EndBlock row -->

            </tbody>
        </table>
        <!-- fim tabela -->
    </div>
</div>
<!-- end body section-->


<!-- modal sections -->

<!-- nova categoria -->
<div id="novo_produto" class="reveal-modal large" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
     role="dialog">
    <h2 id="modalTitle">Novo Ordem de Serviço</h2>

    <p class="lead">Insira os dados abaixo</p>
    <!-- formulário -->
    <form id="form" data-abide>
        <div class="row">
            <!-- Coluna 1  -->
            <div class="medium-6 columns">
                <!-- linha 1 -->
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Cliente
                            <select required>
                                <small style="color:red; ">Obrigatório</small>
                                <option>- Selecione -</option>
                            </select>
                            <small class="error">Selecione um item</small>
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Técnico
                            <select required>
                                <small style="color:red; ">Obrigatório</small>
                                <option>- Selecione -</option>
                            </select>
                            <small class="error">Selecione um item</small>
                        </label>
                    </div>
                </div>
                <!-- linha 2 -->
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Referência OS <input type="text"/> </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Situação OS
                            <select required>
                                <small style="color:red; ">Obrigatório</small>
                                <option>- Selecione -</option>
                            </select>
                            <small class="error">Selecione um item</small>
                        </label>
                    </div>
                </div>
                <!-- linha 3 -->
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Data inicial <input type="text"/> </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Data final <input type="text"/> </label>
                    </div>
                </div>
                <!-- linha 4 -->
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Data geral <input type="text"/> </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Dias de garantia <input type="text"/> </label>
                    </div>
                </div>
                <!-- linha 5 -->
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Descrição do produto/serviço <textarea></textarea> </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Defeito relatado <textarea></textarea> </label>
                    </div>
                </div>
                <!-- linha 6 -->
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Laudo Técnico <textarea></textarea> </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Observações gerais<textarea></textarea> </label>
                    </div>
                </div>
            </div>
            <!--Coluna 2 -->
            <div class="medium-6 columns">
                <!-- linha 1 -->
                <div class="row">
                    <div id="myTabs" class="medium-12 columns">
                        <!-- Tab menu aqui -->
                        <ul class="tabs" data-tab>
                            <li class="tab-title active"><a href="#servico">Adicionar Serviço</a></li>
                            <li class="tab-title"><a href="#produto">Adicionar Produto</a></li>

                        </ul>
                        <div class="tabs-content">
                            <div class="content active" id="servico">
                                <!--formulário para adicionar serviços a ordem. -->
                                <div class="row">
                                    <div class="medium-6 columns">
                                        <label>Adicionar produto.
                                            <select required>
                                                <small style="color:red; ">Obrigatório</small>
                                                <option>- Selecione -</option>
                                            </select>
                                            <small class="error">Selecione um item</small>
                                        </label>
                                    </div>

                                    <div class="medium-3 columns">
                                        <label>Quant. <input type="number"/></label>
                                    </div>

                                    <div class="medium-3 columns">
                                        <label>Preço unit.<input type="number"/></label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="medium-2 columns right">
                                        <button class="button info tiny" style="margin-top:30px;margin-left:-25px;">
                                            Adicionar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="content" id="produto">
                                <!-- Formulário para adicionar produtos a ordem -->
                                <div class="row">
                                    <div class="medium-6 columns">
                                        <label>Adicionar Serviço.
                                            <select required>
                                                <small style="color:red; ">Obrigatório</small>
                                                <option>- Selecione -</option>
                                            </select>
                                            <small class="error">Selecione um item</small>
                                        </label>
                                    </div>

                                    <div class="medium-3 columns">
                                        <label>Quant. <input type="number"/></label>
                                    </div>

                                    <div class="medium-3 columns">
                                        <label>Preço unit.<input type="number"/></label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="medium-9 columns">
                                        <label>Observações adicionais<textarea></textarea></label>
                                    </div>

                                    <div class="medium-2 columns end">
                                        <button class="button info tiny" style="margin-top:30px;margin-left:15px;">
                                            Adicionar
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </form>
    <!-- fim formulário -->
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<!--top bar begin -->
<!-- $Include templates/lib/html/closeDash.html -->
<!--top bar end-->

<!-- end modal sections -->

<script src="templates/lib/js/vendor/jquery.js"></script>
<script src="templates/lib/notify/lib/alertify.min.js"></script>
<script src="templates/lib/js/foundation.min.js"></script>

<script src="templates/lib/js/ajax.js" type="text/javascript"></script>
<link rel="stylesheet" href="templates/lib/notify/themes/alertify.default.css"/>
<link rel="stylesheet" href="templates/lib/notify/themes/alertify.core.css"/>
<link rel="stylesheet" href="templates/lib/css/foundation.css"/>

<script>
    $(document).foundation();

    $(document).ready(function () {
        $('#form_produtos').on('valid.fndtn.abide', function () {
            var data = $('#form_produtos').serializeArray();

            sendAjax('index.php?uc=produtos&a=cadastro', 'POST', data, function (data) {
                data = JSON.parse(data);

                if (data['status'])
                    window.location.reload();
            });
        });

        $('#categoria').change(function () {
            var idCategoria = $('#categoria option:selected').attr('value');

            if (idCategoria == '')
                $('#margem_lucro').val('');

            var data = {'id': idCategoria};
            sendAjax('index.php?uc=ajaxServices&a=getCategoryProfit', 'POST', data, function (data) {
                data = JSON.parse(data);

                if (data['profit'] == null) return;

                $('#margem_lucro').val(data['profit']);

            });

            $('input').focusout(function () {
                var margem = parseFloat($('#margem_lucro').val());
                var preco = parseFloat($('#preco_custo').val());

                $('#preco_venda').val(preco + ( (preco / 100) * margem));

            });

        });

    });

</script>
</body>
<!--footer bagin -->
<!-- $Include templates/lib/html/footertag.html -->
<!--footer end-->
</html>
