
<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Tela Principal</title>

	<link rel="stylesheet" href="templates/lib/css/foundation.css"/>
	<link rel="stylesheet" href="templates/lib/css/font-awesome/css/font-awesome.min.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="templates/lib/js/foundation.min.js"></script>
</head>
<body>
	<!-- Imagem -->
	<div class="row" style="margin-top:5%;">
		<div class="medium-3 medium-centered columns">
			<img src="https://desktop.telegram.org/img/td_logo.png">
		</div>
	</div>

	<!-- label -->
	<div class="row">
		<div class="medium-1 medium-centered columns">
			<h3>Hey!</h3>
		</div>
	</div>

	<!-- label -->
	<div class="row">
		<div class="medium-8 medium-centered columns">
			<p class="text-center">Acesso negado. Voce não tem privilégios ou não está autenticado.</p>
		</div>
	</div>

	<!-- botões -->
	<div class="row">
		<div class="medium-4 medium-centered columns">

			<div class="row">
				<div class="medium-5 columns">
					<a class="button success" href="index.php?uc=autenticar&a=loginView" >Autenticação</a>
				</div>
				<div class="medium-5 columns">
					<a class="button secondary">Definir</a>
				</div>
			</div>

		</div>
	</div>

</body>
</html>
